<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js" type="text/javascript"></script>-->
    <script src="Scripts/angular.js"></script>
    <script>
        // in javascript there is no concept of class . function is treated as class.
        function Customer($scope, $rootScope) {
            //debugger;
            //$rootScope.counter = (($rootScope.counter || 0) + 1);
            var dt = new Date();
            $scope.SalesDateTime = dt.toDateString();
            $scope.CustomerName = "mrinal";
            $scope.CustomerCode = "C001";
            $scope.CustomerAmount = 100;
            $scope.CustomerAmountColor = `Red`;

            // custom watcher
            $scope.$watch(`CustomerAmount`, function () {
                if ($scope.CustomerAmount > 100) {
                    $scope.CustomerAmountColor = `Green`;
                }
                else {
                    $scope.CustomerAmountColor = `Blue`;
                }

            })


            // creating method inside class customer
            $scope.submit = function () {
                if ($scope.CustomerName.length == 0) {
                    alert('please enter customer name');
                    return 0;
                }
                else {
                    alert('submitting..');
                }
            }


        }


        // old way of binding
        //var custObj = new Customer();

        //function UiToObject() {
        //    custObj.CustomerName = document.getElementById('CustomerName').value;
        //    custObj.CustomerCode = document.getElementById('CustomerCode').value;
        //}

        //function ObjectToUi() {
        //    document.getElementById('divCustomerName').innerHTML = custObj.CustomerName;
        //    document.getElementById('divCustomerCode').innerHTML = custObj.CustomerCode;
        //}


        // new way of binding.
        //ng-model

        var myApp = angular.module("MyApp", []);
        myApp.controller("CustomerObj", Customer); // here we are registering it as CustomerObj

    </script>
</head>
<!-- Angular internally creates $rootscope for ng-app in dom. -->
<body ng-app="MyApp">

   <!-- {{counter}}-->

    <!-- ng-controller="Customer" means var custObj = new Customer(); -->
    <!-- Angular internally creates $scope for ng-controller in dom. -->
    <div id="CustScreen" ng-controller="CustomerObj">
        <!-- it create new instance of Customer -->
        Date and Time of sales :- {{::SalesDateTime}}<br />
        Customer Name :- <input type="text" ng-model="CustomerName" id="CustomerName" /> <br />
        Customer Code :- <input type="text" ng-model="CustomerCode" id="CustomerCode" /> <br />
        Customer Amount :- <input type="text" style="background-color:{{CustomerAmountColor}}" ng-model="CustomerAmount" id="CustomerAmount" />
        <input type="button" value="Submit" ng-click="submit()" />
        <br />
        {{::SalesDateTime}}<br />

        {{CustomerName}}<br />
        {{CustomerCode}}<br />
    </div>

    <!-- another customer instance -->
    <!--<div id="CustScreen" ng-controller="CustomerObj">
        
        Customer Name :- <input type="text" ng-model="CustomerName" id="CustomerName" /> <br />
        Customer Code :- <input type="text" ng-model="CustomerCode" id="CustomerCode" />

       
        <br />
        {{CustomerName}}<br />
        {{CustomerCode}}<br />
    </div>-->

     

</body>
</html>