<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="Scripts/angular.js"></script> <!--use this for redable error in console-->
    <!--<script src="Scripts/angular.min.js"></script>--> <!--use this for production-->
    <script src="Scripts/Script.js"></script>
    <title></title>
</head>
<body ng-app="myModule">

    <div ng-controller="myController">

        <div>
            <input type="text" ng-model="message" />
            Message : {{message}}
        </div>

        <div>
            <table>
                <tr>
                    <td>FirstName</td>
                    <td>
                        <input type="text" ng-model="employee.FirstName" />
                    </td>
                </tr>
                <tr>
                    <td>LastName</td>
                    <td>
                        <input type="text" ng-model="employee.LastName" />
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="text" ng-model="employee.Gender" />
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>FirstName</td>
                    <td>
                        {{employee.FirstName}}
                    </td>
                </tr>
                <tr>
                    <td>LastName</td>
                    <td>
                        {{employee.LastName}}
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        {{employee.Gender}}
                    </td>
                </tr>
            </table>
        </div>

        <!--using image-->
        <div>
            <!--Using binding expression with the image src attribute result in 404 error.-->
            <!--<img src="{{employee.ImageUrl}}" alt="{{employee.FirstName}}" style="height:100px; width:200px;" />-->
            <img ng-src="{{employee.ImageUrl}}" alt="{{employee.FirstName}}" style="height:100px; width:200px;" />
        </div>
    </div>

    <div>
        10 + 20 = {{10+20}}
    </div>

    <div>
        10 + 50 = {{10+50}}
    </div>

   

</body>
</html>